html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logo {
    width: 130px;
    height: auto;
}


.pastel-purple {
    background-color: #b39ddb; /* Light pastel purple */
    color: white; /* Text color */
    border: none;
}

    /* For hover effect */
    .pastel-purple:hover {
        background-color: #9e7cc6; /* Slightly darker purple */
        color: white;
    }

/* For the "Register here" link */
.register-link {
    color: #9e7cc6; /* Light pastel purple color */
}

    .register-link:hover {
        color: #7a58b8; /* Darker shade on hover */
        text-decoration: underline;
    }
